@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap')
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap')

$color: black

body

  header

    nav 
      font-family: 'Rajdhani', sans-serif
      font-size: 2em

      a
        text-decoration: none
        color: $color
      
      a:hover
        color: $color
        color: darkred
        text-decoration: none

      #writeupsMenu
        font-size: 0.6em

      #navHeader
        border-bottom: 2px solid

  main
    
    h1
      font-family: 'Bowlby One SC', cursive

    h2
      font-family: 'Bowlby One SC', cursive

    p
      font-family: 'Abhaya Libre', serif

    code
      font-family: 'PT Mono', monospace


