{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
        <script src="https://unpkg.com/vue"></script>
        <script src="https://unpkg.com/vue-router"></script>
        <script type="module" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.esm.js"></script>
    </head>
    <body>
        <div id="app">
            <navbar></navbar>
            <transition name="fade" mode="out-in">
                <router-view :key="$route.fullPath"></router-view>
            </transition>
        </div>

        {# Django variables section #}
        {% block _variables %}{% endblock %}
        {% include "network/_variables.html" %}

        {# Vue routes section #}
        {% block _routes %}{% endblock %}
        {% include "network/_routes.html" %}

        <script src="{% static 'network/app.js' %}"></script>


        {# Load only needed Vue components based on auth #}
        {% if not user.is_authenticated %}
            {% block login %}{% endblock %}
            {% include "network/login.html" %}
            {% block register %}{% endblock %}
            {% include "network/register.html" %}
        {% else %}
            {% block social-posts-compose %}{% endblock %}
            {% include "network/vue-social-posts-compose.html" %}
        {% endif %}


        {# Rest of Vue components #}
        {% block social-posts %}{% endblock %}
        {% include "network/vue-social-posts.html" %}
        
        {% block user-profile %}{% endblock %}
        {% include "network/vue-user-profile.html" %}


        {% block navigation %}{% endblock %}
        {% include "network/vue-navigation.html" %}


    </body>
</html>
