{% load static %}

{% block navigation %}


{# Variables used in Vue components #}

<script type='text/javascript'> 
    {% if user.is_authenticated %}
    const navLinks = [
        { name: 'All Posts', path: "{% url 'index' %}", component: SocialPostsComponent },
        { name: 'Following', path: '/' },
        { name: 'Log Out', path: "{% url 'logout' %}", component: {created: function () {window.location.replace('/logout')}} },
        { name: "{{ user.username }}", path: '/' }
    ]
    {% else %}
    const navLinks = [
        { name: 'All Posts', path: "{% url 'index' %}", component: SocialPostsComponent },
        { name: 'Log In', path: "{% url 'login' %}", component: LoginComponent },
        { name: 'Register', path: "{% url 'register' %}", component: RegisterComponent }
    ]
    {% endif %}
</script>


{# Vue templates #}

<script type="text/x-template" id="navbar-template">
    <nav class="site-navigation">
        <span class="menu-title">Network</span>

        <div class="menu-content-container" :class="isActive ? 'active' : ''" @focusout="isActive = !isActive">
            <ul>
                <navbar-link :key="link.title" v-for="link in links" :link="link"></navbar-link>
            </ul>
        </div>

        <ion-icon name="menu-outline" @click="isActive = !isActive"></ion-icon>
    </nav>
</script>

<script type="text/x-template" id="navbar-link-template">
    <li>
        <router-link :to="{ path: link.path }">[[ link.name ]]</router-link>
    </li>
</script>


{# Vue components code #}

<script type="text/javascript">
    const router = new VueRouter({
        routes: navLinks
    })

    let NavbarLinkComponent = {
        delimiters: ['[[', ']]'],
        template: '#navbar-link-template',
        props: ['link']
    }

    let NavbarComponent = {
        template: '#navbar-template',
        components: { 
            'navbar-link': NavbarLinkComponent 
        },
        data() {
            return {
                links: navLinks,
                isActive: false
            }
        }
    }
</script>


{% endblock %}
