{% load static %}

{% block navigation %}


{# Variables used in Vue components #}

<script type='text/javascript'> 
    {% if user.is_authenticated %}
    const navLinks = [
        { title: 'All Posts', path: "{% url 'index' %}"},
        { title: 'Following', path: '#' },
        { title: 'Log Out', path: "{% url 'logout' %}"},
        { title: "{{ user.username }}", path: '#' }
    ]
    {% else %}
    const navLinks = [
        { title: 'All Posts', path: "{% url 'index' %}"},
        { title: 'Log In', path: "{% url 'login' %}"},
        { title: 'Register', path: "{% url 'register' %}"}
    ]
    {% endif %}
</script>


{# Vue tempaltes #}

<script type="text/x-template" id="navbar-template">
    <nav class="site-navigation">
        <span class="menu-title">Network</span>

        <div class="menu-content-container" :class="isActive ? 'active' : ''">
            <ul>
                <navbar-link :key="link.title" v-for="link in links" :name="link"></navbar-link>
            </ul>
        </div>

        <ion-icon name="menu-outline" @click="isActive = !isActive"></ion-icon>
    </nav>
</script>

<script type="text/x-template" id="navbar-link-template">
    <li>
        <a :href="name.path">[[ name.title ]]</a>
    </li>
</script>


{# Vue components code #}

<script type="text/javascript">
    let NavbarLinkComponent = {
        delimiters: ['[[', ']]'],
        template: '#navbar-link-template',
        props: ['name']
    }

    let NavbarComponent = {
        template: '#navbar-template',
        components: { 
            'navbar-link': NavbarLinkComponent 
        },
        data() {
            return {
                links: navLinks,
                isActive: false
            }
        },
        methods: {
            slice: function(s) {
                return(s.slice(0,1).toUpperCase())
            }
        }
    }
</script>


{% endblock %}
