{% load static %}

{% block navigation %}


{# Vue templates #}

<script type="text/x-template" id="navbar-template">
    <nav class="site-navigation">
        <span class="menu-title">Network</span>

        <div class="menu-content-container" :class="{active: isActive}">
            <ul>
                <navbar-link @click="isActive = false" :key="link.title" v-for="link in links" :link="link"></navbar-link>
            </ul>
        </div>

        <ion-icon name="menu-outline" @click="isActive = !isActive"></ion-icon>
    </nav>
</script>

<script type="text/x-template" id="navbar-link-template">
    <li>
        <router-link 
            v-if="link.name === 'profile' && auth" 
            :to="{ name: link.name, params: {id : currentUser.id, username: currentUser.name} }"
        >[[ link.meta ]]</router-link>
        <router-link v-else :to="{ name: link.name }">[[ link.meta ]]</router-link>
    </li>
</script>

{% endblock %}
