{% load static %}

{% block social-posts %}


{# Vue templates #}

<script type="text/x-template" id="social-posts-template">
    <div>
        <section class="container">
            <social-posts-compose v-if="auth && !isProfile"/>
            <social-posts-item 
                v-for="post in posts" 
                :post="post"
                :key="post.id">
            </social-posts-item>
            <div class="row center">
                <button class="button" @click="pageNum++; fetchPosts(pageNum)" v-if="hasNext">Next</button>
                <button class="button" @click="pageNum--; fetchPosts(pageNum)" v-if="hasPrev">Prev</button>
            </div>
        </section>
    </div>
</script>

<script type="text/x-template" id="social-posts-item-template">
    <div class="row post">
        <small>
            <span class="user">
                <router-link class="user" :to="{ name: 'profile', params: {id: post.user_id, username: post.username } }">[[ post.username ]]</router-link>
            </span>, 
            <span class="date">[[ post.timestamp ]]</span>
        </small>
        <div v-if="!isEditing">
            <div class="text">[[ post.body ]]</div>
            <div class="likes">
                <ion-icon v-if="!isLiked" @click="like()"  name="heart-outline"></ion-icon>
                <ion-icon v-else @click="like()"  name="heart"></ion-icon>
                <span>[[ post.likes ]]</span>
            </div>
        </div>
        <div v-if="isEditing">
            <textarea type="text" ref="post_body" :value="post.body"></textarea>
        </div>

        <button class="button edit" @click="isEditing = !isEditing" v-if="!isEditing && post.user_id === currentUser.id">Edit</button>
        <button class="button black" @click="save" v-else-if="isEditing">Save</button>
        <button class="button" v-if="isEditing" @click="isEditing = false">Discard</button>
    </div>
</script>

{% endblock %}
