body {
    padding: 10px;
    margin: 1em;
}

.is_authenticated {
    margin-left: 1em;
}

.lst-idx-ctr {
    margin-top: 2em;
}

.lst-idx-ctr > div {
    display: inline-block;
    margin-bottom: 1em;
    vertical-align: top;
}

.lst-idx-img {
    margin-right: 2em;
}

.lst-img {
    margin-top: 2em;
    margin-bottom: 2em;
}

.active-wl:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.active-wl {
    color: #fff;
    background-color: #007bff;
}

.inactive-wl:hover {
    color: #fff;
    background-color: #4d545b;
}

.inactive-wl {
    color: #fff;
    background-color: #6c757d;
}

.watchlist, span#watchlist-num {
    padding: 5px;
    /* color: #fff; */
    /* background-color: #007bff; */
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    vertical-align: baseline;
    border-radius: .25rem;
    text-decoration: none;
}


.gray {
    color: #929eab !important;
}

.details {
    margin-top: 2em;
}

.price {
    margin-bottom: 1em;
}

.form-input {
	display: inline-block;
	width: 15em;
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
}

.sbmt-button:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.sbmt-button {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

.alert-msg {
    color: #721c24;
    font-size: 0.85em;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    width: fit-content;
}
