{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Categories</h2>

    <ul class="categories">
        {% for category in categories %}
            <!-- <li><a href="{% url "category" category.id %}">{{ category|capfirst }}</a> -->
        <div class="lst-idx-ctr">
            <div class="lst-idx-img">
                {% if category.image_url %}
                    <img src="{{ category.image_url }}" height="50px" />
                {% else %}
                    <img src="#" height="50px" />
                {% endif %}
            </div>
            <div class="lst-idx-text">
                <a href="{% url "category" category.id %}">{{ category|capfirst }}</a>
            </div>
        </div>
        {% endfor %}
    </ul>
{% endblock %}
