{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{heading}}</h2>

    {% for listing in listings %}
        <div class="lst-idx-ctr">
            <div class="lst-idx-img">
                {% if listing.image_url %}
                    <img src="{{ listing.image_url }}" height="200px" />
                {% else %}
                    <img src="#" height="200px" />
                {% endif %}
            </div>
            <div class="lst-idx-text">
                <a href="{% url "listing" listing.id %}">
                    <h3>{{ listing.name }}</h3>
                </a>
                <h5>Price: ${{ listing.top_bid.price }}</h5>
                {% if listing.closed %}
                <h6>Winner: {{listing.top_bid.user.username}}</h6>
                {% endif %}
                <p>Description: {{ listing.description }}</p>
                <small>Created: {{ listing.created }}</small>
            </div>
        </div>
    {% endfor %}
{% endblock %}
