{% extends "auctions/layout.html" %}

{% block body %}
<h2>Listing: {{ listing.name }}</h2>

    {% for listing in listings %}
        <div class="">
            <div class="">
                <img src="https://pbs.twimg.com/media/Cqg9A6wUIAAIRTP.jpg"
                height=500px />
            </div>
            <div class="">
                watchlist
            </div>
            <div class="">
                <p>Description: {{ listing.description }}</p>
                <h2>Price: ${{ listing.price }}</h2>
                <small>Created: {{ listing.created }}</small>
            </div>
        </div>
    {% endfor %}
{% endblock %}
