{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
    {% if listing.top_bid.user_id == user.id and listing.closed %}
        <h3><span class="badge badge-success">Congratulations! You won this listing!</span></h3>
    {% endif %}
    <h2>Listing: {{ listing.name }}</h2>
    <div class="">
        <div class="">
            {% if watched %}
            <button class="watchlist active-wl" id="add-watchlist">watching</button>
            {% else %}
            <button class="watchlist inactive-wl" id="add-watchlist">to watchlist</button>
            {% endif %}
        </div>
        <div class="lst-img">
            {% if listing.image_file %}
                <img src="{{ listing.image_file.url | default_if_none:'#' }}" height=500px />
            {% elif listing.image_url %}
                <img src="{{ listing.image_url | default_if_none:'#' }}" height=500px />
            {% else %}
                <p>no image</p>
            {% endif %}
        </div>
        <div class="">
            <p>Description: {{ listing.description }}</p>
            <h2 class="price">Price: ${{ listing.top_bid.price }}</h2>
            {% if listing.closed is True %}
                <div>Winner: <b>{{ listing.top_bid.user.username }}</b></div>
            {% elif user.id != listing.user_id %}
            <form action="{% url "bid" listing.id %}" method="post">
                {% if message %}
                <div class="alert-msg">{{ message }}</div>
                {% endif %}
                {% csrf_token %}
                {% if listing.top_bid.user_id == listing.user_id %}
                    <label for="bid-input">No bids so far, be the first bidder!</label><br>
                {% else %}
                    <label for="bid-input">{{ listing.bids.count }} bid(s) so far. Highest bidder: <b>{{ listing.top_bid.user.username }}</b></label><br>
                {% endif %}
                <input id="bid-input" name="price" type="number" step="0.01" class="form-input">
                <input type="submit" value="Bid" class="sbmt-button">
            </form>
            {% elif listing.top_bid.user_id != user.id and user.id == listing.user_id %}
            <form action="{% url "close" listing.id %}" method="post">
                {% csrf_token %}
                <div>Highest bidder: <b>{{ listing.top_bid.user.username }}</b></div>
                <br />
                <input type="submit" value="Close" class="sbmt-button">
            </form>
            {% else %}
            <strong>No bids so far :(</strong>
            {% endif %}
            <h5 class="details">Details:</h5>
            <small>Category: <b>{{ listing.category }}</b></small><br>
            <small>Created: <b>{{ listing.created }}</b></small><br>
            <small>Listed by: <b>{{ listing.user.username }}</b></small>
            <h5 class="details">Comments:</h5>
            <ol class="comments">
            {% for comment in listing.comments.all %}
                <li class="comment">{{ comment.text }}<br><small class=""> by <b>{{ comment.user }}</b></small>
            {% endfor %}
            </ol>
            <form action="{% url "comment" %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="listing_id" value="{{listing.id}}">
                <textarea id="comment-text" name="text" class="comment-text"></textarea>
                <input type="submit" value="Leave Comment" class="sbmt-button sbmt-comment">
            </form>
        </div>
        <script type="text/javascript">
            var listingId = "{{ listing.id }}";
        </script>
        <script type="text/javascript" src="{% static 'auctions/watchlist_handler.js' %}"></script>
    </div>
{% endblock %}
