@import './_variables.scss';
@import './_navigation.scss';

body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-weight: 500;
    margin: 0;
    background-color: #f8f9f8;
}

