{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">

        <title>{% block title %} Edat {% endblock %}</title>


        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <link rel="stylesheet" href="{% static 'visualizer/css/style.css' %}">

        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        <script src="https://unpkg.com/vue"></script>
        <script src="https://unpkg.com/vue-router"></script>
    </head>
    <body>
        <div id="app">
            <navbar></navbar>
            <transition name="fade" mode="out-in">
                <router-view :key="$route.fullPath"></router-view>
            </transition>
        </div>

        {# Django variables section #}
        {% block _variables %}{% endblock %}
        {% include "visualizer/_variables.html" %}

        {# Vue routes section #}
        {% block _routes %}{% endblock %}
        {% include "visualizer/_routes.html" %}

        <script src="{% static 'visualizer/app.js' %}" type="application/javascript"></script>

        {% block templates %}{% endblock %}
        {% include "visualizer/_templates.html" %}


    </body>
</html>
