{% load static %}

{% block navigation %}


{# Vue templates #}

<script type="text/x-template" id="navbar-template">
    <div class="ui secondary pointing menu">
        <div id="site-header" class="header item">EDAT</div><div id="site-subheader" class="item">&nbsp;-&nbsp;&nbsp;Exploratory data analysis tool</div>
        <div class="menu right">
            <navbar-link 
                class="item" :class="{active: isActive}" 
                @click="isActive = !isActive" 
                :key="link.title" 
                v-for="link in links" 
                :link="link"
            ></navbar-link>
        </div>
    </div>

</script>

<script type="text/x-template" id="navbar-link-template">
        <router-link v-if="link.name !== ('dataset' || 'editor')" :to="{ name: link.name }">[[ link.meta ]]</router-link>
</script>

{% endblock %}
