.select-dropdown {
	border: 1px solid rgba(34,36,38,.15);
	padding: 0;
	padding-right: 0px;
    margin-bottom: 0.7em;
	border-radius: .28571429rem;
	width: 14em;
    cursor: pointer;

    .dropdown-default {
        margin: 0;
        padding: 0.5em;
        color: rgb(225, 225, 225);
    }

    .dropdown-menu {
        background: #fff;
        color: #444;
        position: absolute;
        z-index: 999;
        background: white;
        display: none;
        width: 14em;
        margin-left: -1px;
        box-shadow: 0 2px 3px 0 rgba(34,36,38,.15);
        border: 1px solid rgba(34,36,38,.15);
        border-radius: 0.28571429rem;
        transition: opacity .1s ease;
        max-height: 15em;
        overflow: auto;
    }

    .dropdown-menu-item {
        padding: 0.5em;
        &:hover{
            background: rgba(0,0,0,.05);
        }
    }

    .icon {
        position: absolute;
        margin-top: 0.5em;
        margin-left: 12.4em;
    }
}


.select-active {
    display: block !important;
}
